<div class="container">
  <div>
    <div class="dropdown">
      <select #teams (change)="onSelected(teams.value)">
        <option>Admin</option>
        <option>User</option>
      </select>
    </div>
  </div>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Role</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <th scope="row">{{ user.id }}</th>
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.role | Uppercase }}</td>
        <td>
          <button class="btn btn-primary" (click)="editUser(user)">Edit</button>
          <button
            style="margin-left: 5px"
            class="btn btn-danger"
            (click)="deleteUser(user)"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
