<div>
  <div class="container">
    <nav class="navbar navbar-default">
      <ul class="nav navbar-nav">
        <li>
          <a routerLinkActive="active" routerLink="/login">Login</a>
        </li>
      </ul>
      <ul class="nav navbar-nav">
        <li>
          <a routerLinkActive="active" routerLink="/registration"
            >Registration</a
          >
        </li>
        <li>
          <a routerLinkActive="active" routerLink="/user">Users</a>
        </li>
        <li>
          <a (click)="onProfileClick()">Profile</a>
        </li>
        <li>
          <button (click)="onLogout()">Log out</button>
        </li>
      </ul>
    </nav>
    <router-outlet></router-outlet>
    <!-- <app-login></app-login>
    <app-registraion></app-registraion> -->
  </div>
</div>
