<div class="container">
  <div>
    <h3>Name: Md Anayeat Rabbi Khan</h3>
    <div class="mainSection">
      <div class="section">
        <div>First Name:</div>
        <div>Md Anayeat</div>
      </div>
      <div class="section">
        <div>Last Name:</div>
        <div>Rabbi Khan</div>
      </div>
      <div class="section">
        <div>Email</div>
        <div>anayat.khan@asthait.com</div>
      </div>
      <div class="section">
        <div>Role</div>
        <div>admin</div>
      </div>
      <div class="section">
        <div>Skills</div>
        <div>c# , javascript</div>
      </div>
      <div class="section">
        <div>Experiencr</div>
        <div>3 years</div>
      </div>
    </div>
  </div>
</div>
