<div class="container">
  <div>
    <h3>
      Name: {{ user.firstName | Uppercase }} {{ user.lastName | Uppercase }}
    </h3>
    <div class="mainSection">
      <div class="section">
        <div>First Name:</div>
        <div>{{ user.firstName }}</div>
      </div>
      <div class="section">
        <div>Last Name:</div>
        <div>{{ user.lastName }}</div>
      </div>
      <div class="section">
        <div>Email</div>
        <div>{{ user.email }}</div>
      </div>
      <div class="section">
        <div>Role:</div>
        <div>{{ user.role }}</div>
      </div>
      <div class="section">
        <div>Skills</div>
        <div>{{ user.skills.skillName }}</div>
      </div>
      <div class="section">
        <div>Experience</div>
        <div>{{ user.skills.experience }}</div>
      </div>
    </div>
  </div>
</div>
